body{
  background: linear-gradient(to bottom, rgba(137, 215, 187, 0.972), rgb(60, 212, 98));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Poltawski Nowy', serif;
  font-size: 17px;
}
img{
  height: 200px;
  width: 400px;
  margin-bottom: 50px;
}

span{
  margin-right: 8px;
}

.info{
  background-color: rgba(137, 215, 187, 0.972); /* Change the opacity value as desired */
  border-radius: 10px; /* Rounded corners */
  padding: 20px; /* Add some padding */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Add a subtle box shadow */
  margin-top: 20px; /* Add some margin to separate it from the form */
}

ul.info{
  list-style: none;
}

input, button{
  border-radius: 4px;
}

button{
  background-color:  rgba(137, 215, 187, 0.972);
  color: rgb(7, 31, 13);
  font-size: 17px;
}
.green{
  background-color: rgb(10, 170, 10);
}

.jumbotron{
  background-color:  rgba(137, 215, 187, 0.972);
}